body{
	background: #4B0082;
	font-family: Times New Roman;
}
.body{
	width: 400px;
	background: #800080;
	margin: 100px auto;
	padding: 10px 20px 50px 20px;
	border-radius: 5px;
	box-shadow: 0px 10px 20px 0px #525252;
}
.num{
	width: 200px;
	margin: 5px;
	border: none;
	font-size: 13pt;
	border-radius: 5px;
	padding: 10px;	
}
.option{
	font-size: 16pt;
	border: none;
	width: 100px;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}
.button{
	background: #552ef3;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: #eee;
	font-size: 13pt;
	border-bottom:4px solid #1a2040;
}

.judul{
	text-align: center;
	color: #eee;
	font-weight: normal;
}